<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./categorias.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="categories">
            <div class="categories--container">
                <button class="categories--button kaushan-script-regular">Comidas</button>
                <button class="categories--button kaushan-script-regular">Bebidas</button>
                <button class="categories--button kaushan-script-regular">Postres</button>
                <button class="categories--button kaushan-script-regular">Promos</button>
            </div>
            <div class="categories--container">
                <button class="categories--button kaushan-script-regular">Pizzas</button>
                <button class="categories--button kaushan-script-regular">Ensaladas</button>
                <button class="categories--button kaushan-script-regular">Helados</button>
                <button class="categories--button kaushan-script-regular">Cafes</button>
                <button class="categories--button kaushan-script-regular">Combos</button>
                <button class="categories--button kaushan-script-regular">Hamburguesas</button>
                <button class="categories--button kaushan-script-regular">Pollo Frito</button>
                <button class="categories--button kaushan-script-regular">Tortas</button>
                <button class="categories--button kaushan-script-regular">Tacos</button>
                <button class="categories--button kaushan-script-regular">Flanes</button>
                <button class="categories--button kaushan-script-regular">Gaseosas</button>
                <button class="categories--button kaushan-script-regular">Burritos</button>
                <button class="categories--button kaushan-script-regular">Barbacoa</button>
                <button class="categories--button kaushan-script-regular">Pastas</button>
                <button class="categories--button kaushan-script-regular">Cervezas</button>
            </div>
        </section>
    </main>
</body>
</html>