<footer>
        <div class="footerLinks">
            <a href="#">Quienes somos</a>
            <a href="#">Contacto</a>
            <a href="#">Terminos y condiciones</a>
            <a href="#">Trabaja con nosotros</a>
            <a href="#">Politicas de privacidad</a>
            <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="footerBotones">
            <button>Boton de arrepentimiento</button>
            <button>Defensa del consumidor</button>
        </div>
        <div class="footerInfo">
            <p>FlashFood Arg S.A.S Av. del Libertador 1760, Piso 1º CABA. CUIT xx-xxxxxxx-x soporteusuarios@flash.com
                ©2024 <br>FlashFood Inc.</p>
        </div>
        <div class="footerSocial">
            
            <div class="footerRedes">
                <a target="_blank" href="https://www.instagram.com/"><img src="./assets/instagramLogo.png"
                        alt="instagram Logo"></a>

                <a target="_blank" href="https://www.facebook.com/?locale=es_LA"><img src="./assets/facebookLogo.png"
                        alt="facebook Logo"></a>
            </div>

            <p>All rights reserved.</p>
        </div>
    </footer>