* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  font-family: "Inter", "Sans Serif";
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  color: whitesmoke;

}

.bar {
  display:none;

}
 
.desplegable {
  position: fixed;
  width: 100%;
  margin: 0 auto;
}


.menu {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  background-color: #242323;
  float: left;
  
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


label {
  display: block;
  cursor: pointer;
  padding: 15px;
  border: none;
  margin-left: 10px;
}

.sesion button {
  border: 3px solid #F98820A8;
  margin: 12% 0 7% 12.5%;
  width: 73%;
  text-align: center;
  border-radius: 8px;
}

li .last:hover {
  background: #F98820A8;
  width: 97%;
}


label:hover {
  background: #F98820A8;
  width: 97%;
}

li button:hover {
  border: 3px solid #F98820A8;
}


li button,
ul ul li button {
  background-color: #242323;
  color: whitesmoke;
  padding: 10px;
  border: none;
  font-size: 1rem;
}


li .last {
  width: 92%;
  text-align: left;
  padding: 15px;
  margin-left: 10px;
}

li button {
  width: 100%;
  text-align: left;
  padding: 20px;

}

ul ul li {
  background-color: #242323;
  padding: 10px;
  color: whitesmoke;
}

/* para desplegar sub-menu*/

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}


input[type="checkbox"]:checked~.menu {
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}


input[type="checkbox"]~ul {
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked~ul {
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

.first:checked+label {
  background-color: #F98820A8;
  border-bottom: 1px solid #f9cea3;
  width: 92%;
}

/*responsivo*/

@media (max-width: 700px) {

  .bar {
    display: block;
  }

   /* #check:checked~.menu {
    height: 100%;
    transform-origin: top;
    transition: all 0.5s;
    left: 0;
  } */

  #check:checked~.desplegable {
    left: 0;
    transition: 0.5s;
    height: 100%;
    width: 60%;
  }

}