<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-container"><svg viewBox="0 0 1024 1024" class="header-menu">
      <path
        d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
      </path>
      <path
        d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
      </path>
      <path
        d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
      </path>
    </svg><img alt="pastedImage" src="public/external/pastedimage-ezwl.svg" class="header-logo" /><button type="button"
      class="header-button"><img alt="Vector2124" src="public/external/vector2124-k1sv.svg"
        class="header-vector" /><span class="header-text"><span>Agregar mi ubicación</span></span><img
        alt="Polygon12124" src="public/external/polygon12124-3pr.svg" class="header-polygon1" /></button>
    <div class="header-seacrh"><button type="button" class="header-button1"><img alt="Vector2135"
          src="public/external/vector2135-c1sl.svg" class="header-vector1" /></button><input type="text"
        class="header-textinput" /></div><img alt="pastedImage" src="public/external/pastedimage-4gq.svg"
      class="header-user-image" /><img alt="pastedImage" src="public/external/pastedimage-0n7q.svg"
      class="header-alert-image" />
    <div class="header-cart"><img alt="Vector2145" src="public/external/vector2145-ulca.svg" class="header-cart-icon" />
      <div class="header-badge"><span class="header-text2">0</span></div>
    </div>
  </div>
</div>